.home {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.card_content {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.posts_collections {
  border: 1px solid red;
  padding: 10px;
  margin-top: 5rem;
}
.post_description {
  font-weight: 500;
  font-size: 1rem;
  color: white;
  font-family: sans-serif;
}
