.account {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 250px;
  border: 0.3px solid rgb(138, 136, 131);
  border-radius: 10px;
  background-color: rgb(2, 2, 48);
}
.account_header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 0.3px solid rgb(49, 48, 44);
  background-color: rgb(114, 114, 119);
  padding: 10px;
}
.account_back {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}
.account_title {
  font-size: 1rem;
  font-weight: 500;
  font-family: tahoma;
}
.account_content {
  width: 100%;
  padding: 10px;
}
.account_email {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: tahoma;
  padding: 0 10px;
}
.account_links_container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account_links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: tahoma;
}
.account_links:hover {
  background-color: rgb(61, 61, 60);
}

.account_logout {
  border-top: 0.3px solid rgb(49, 48, 44);
  margin-top: 10px;
  padding: 7px;
  width: 100%;
  background-color: transparent;
}
.account_logout:hover {
  background-color: rgb(61, 61, 60);
}
.account_logout_btn {
  width: 100%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  font-family: tahoma;
  cursor: pointer;
}
